<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
    <link rel="stylesheet" href="{% static 'orderlist-styles.css' %}"> <!-- Link to your CSS file -->
</head>
<body>
    <h1>Order List</h1>
    <table>
        <thead>
            <tr>
                <th>Menu Item</th>
                <th>Quantity</th>
                <th>Selected Options</th>
                <th>Notes</th>
                <th>Status</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.menu_item.name }}</td>
                <td>{{ order.quantity }}</td>
                <td>
                    {% for key, value in order.selected_options.items %}
                        {{ key }}: {{ value }}<br>
                    {% endfor %}
                </td>
                <td>{{ order.notes }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
